<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/admin.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>问题管理系统<small>only for admin</small></h1>
        </div>

        <div class="controller">
            <div class="alert alert-success" role="alert">已填写数：</div>
        </div>

        <div class="panel panel-default" id="questions">
            <div class="panel-heading">16级问卷调查
                <span class="glyphicon glyphicon-plus" aria-hidden="true" id="addQues" v-on:click="addQues"></span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" v-for="question in quesData">
                        <div class="form-group">
                            <label>问题 {{ $index+1 }}</label>
                            <input type="text" class="form-control" placeholder="Question" v-model="question.question">
                        </div>
                        <div class="ansGroup col-lg-10">
                            <button type="button" class="btn btn-default btn-info" disabled="disabled" v-for="ans in question.ans">
                                {{ ans }}
                            </button>
                        </div>
                        <div class="input-group col-lg-2">
                            <input type="text" class="form-control" placeholder="Add ans" v-model="tempAns">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" v-on:click="addAns($index)">Add</button>
                            </span>
                        </div>                        
                    </li> 
                </ul>
                <button type="button" class="btn btn-danger" v-on:click="save">提交</button>
            </div>
        </div>
    </div>
<script src="//cdn.bootcss.com/vue/1.0.26/vue.js"></script>
<script src="//cdn.bootcss.com/vue-resource/0.9.3/vue-resource.min.js"></script>
<script src="./js/admin.js"></script>
</body>
</html>